@import url('https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&family=Caveat:wght@400..700&family=Figtree:ital,wght@0,300..900;1,300..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&family=Amatic+SC:wght@400;700&family=Caveat:wght@400..700&family=Figtree:ital,wght@0,300..900;1,300..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Amatic SC', sans-serif;
    font-weight: 800;
    font-size: 24px; 
    letter-spacing: 0.2vw;
    overflow: hidden; 

}

@media (min-width: 1500px) {
    * {
        font-size: 40px;
    }
}

@media (max-width: 768px) {

    .cat-cover {
        height: 100%;
    }

    .upper, .question {
        flex-direction: column;
        padding-left: 0;
        padding-bottom: 0;
    }

    .upper {
        transform: translateY(-5vh) !important;
    }

     .question, .customizer {
        transform: translateY(-10vh) !important;
    }

    .cat, .cat-name, .answer-bubble {
        margin-left: 0 !important;
        margin-right: 0 !important;
    }

    .customizer {
        min-width: 40%;
    }

    button, .question, .question__input,
    .answer-bubble, .cat-cover, .upper {
        width: 100%;
    }


    .answer-bubble {
        border-radius: 50px;
        border-top-left-radius: 0px;
        min-width: 60%; 
    }
}

@media (max-width: 768px), (max-height: 768px) {
    * {
        font-size: 16px;
    }

    .cat {
        background-size: contain;
    }
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden; 
}

:root {
    --white: #ffffff;
    --red: #FC1A44;
    --orange: #FFA51F;
    --blue: #A6BFFF;
    --green: #7DCEBF;
    --pink: #EFB1CD;
    --purple: #D3B5E6;
    --current-color: var(--orange);
}

#RED {
    background-color: var(--red);
}

#ORANGE {
    background-color: var(--orange);
}

#BLUE {
    background-color: var(--blue);
}

#GREEN {
    background-color: var(--green);
}

#PINK {
    background-color: var(--pink);
}

#PURPLE {
    background-color: var(--purple);
}

.main-container {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 2vh 10vw 5vh 10vw; 
    gap: 5vh; 
}

.upper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    width: 100%;
    padding-bottom: 5vh;
}

.cat-cover {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.cat {
    margin-left: 20vw;
    background-image: url("../sprites/sprite-5.PNG");
    background-color: var(--current-color);
    width: clamp(200px, 19.5vw, 800px);
    height: auto;
    aspect-ratio: 1 / 1; 
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    transition: all 0.5s ease;
}

.cat.absolute_yes {
    background-image: url("../sprites/sprite-7.PNG");
}

.cat.very_yes {
    background-image: url("../sprites/sprite-6.PNG");
}

.cat.yes {
    background-image: url("../sprites/sprite-5.PNG");
}

.cat.no {
    background-image: url("../sprites/sprite-3.PNG");
}

.cat.very_no {
    background-image: url("../sprites/sprite-2.PNG");
}

.cat.absolute_no {
    background-image: url("../sprites/sprite-1.PNG");
}

.cat:hover {
    background-image: url("../sprites/sprite-7.PNG");
}

.cat-name {
    margin-left: 20vw;
    font-weight: 800;
    text-align: center;
}

.answer-bubble {
    margin-right: 10vw;
    background-color: #808080;
    color: white;
    padding: 3vw 4vw;
    border-radius: 50px;
    border-bottom-left-radius: 0px;
    width: 20vw;
    max-width: 100%;
}

.question {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

input {
    background-color: rgba(219, 219.5, 219, 0.395);
    border: 2px solid rgba(0, 0, 0, 0.322);
    outline: none;
    width: 45vw;
    max-width: 100%; 
    color: var(--orange);
    transition: all 0.3s ease;
}

input::placeholder {
    color: rgba(166, 166, 166, 0.747);
}

button, input {
    padding: 1vw 3vw;
    cursor: pointer;
    border-radius: 50px;
}

button {
    background-color: var(--current-color); 
    border: 2px solid var(--current-color);
    transition: all 0.3s ease;
}

button:hover {
    background-color: transparent;
    color: var(--current-color); 
    border-color: var(--current-color);  
}

.question__button {
    color: white;
}

.customizer {
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
    justify-content: center;
    padding: 1vw;
    border-radius: 50px;
    border: 2px solid grey;
}

.color-element {
    background-color: var(--white);
    border-radius: 50%;
    width: clamp(16px, 2vw, 32px);
    height: clamp(16px, 2vw, 32px);
    transition: all 0.3s ease;
}

.color-element:hover {
    filter: brightness(120%);
}

.color-element.active {
    background-color: white;
    border: 3px solid var(--current-color);  
}

#red{
    background-color: var(--red);
}
#orange{
    background-color: var(--orange);
}
#blue{
    background-color: var(--blue);
}
#green{
    background-color: var(--green);
}
#pink{
    background-color: var(--pink);
}
#purple{
    background-color: var(--purple);
}


::selection {
    background-color: var(--current-color);
    color: white;
}

/*     GREETING MESSAGE */

@media (max-width: 768px) {
    /* .modal-content {
    } */

    p {
        font-size: 12px !important;
        font-weight: 300;
    }

    .title {
        font-weight: 900 !important;
        font-size: 20px !important;
        padding-bottom: 2vh !important;

    }

    .modal button {
        width: 15vw;
        margin-top: 3vh !important;

    }

}

#closeButton button {
    background-color: var(--orange);
    color: var(---orange);
    cursor: pointer;
    border-radius: 50px;
    transition: all 0.3s ease;
}

.modal-content button {
    color: white;
    padding: 1vw 3vw;
    margin-top: 5vh;
}

#closeButton button:hover {
    background-color: transparent;
    border-color: var(--orange);  
}

strong {
    font-size: larger;
}
  
.modal {
    display: none; 
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.393); 
    backdrop-filter: blur(50px);
    z-index: 9999; 
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .title {
    color: var(--orange);
    font-size: 34px;
    padding-bottom: 5vh;
  }
  
  .modal-content {
    background-color: #fff;
    padding: 5vh 10vw;
    border-radius: 10px;
    border: 5px solid var(--orange);
    text-align: center;
    width: clamp(60%, 50vw, 50vw);
    height: auto;
  }

  .modal button:hover {
    color: var(--orange);
  }
  
 .cat-logo {
    margin-bottom: 5vh;
    width: clamp(100px, 5vw, 500px);
    height: auto;
    aspect-ratio: 4 / 1; 
 }